@import url('https://fonts.google.com/specimen/Montserrat');
@import url('https://fonts.google.com/specimen/Fraunces');
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
 */
:root {
  --primary-color: hsl(30, 38%, 92%);
  --secondary-color: hsl(158, 36%, 37%);
  --text-color: hsl(228, 12%, 48%);
  --font-1: 'Montserrat', sans-serif;
  --font-2: 'Fraunces', sans-serif;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

* {
  box-sizing: border-box;
}

html, body { height: 100%;}

body {
  background-color: var(--primary-color);
  display: flex;
  margin: auto;
  align-items: center;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 330px;
  position: relative;
  margin: auto;
  border-radius: 20px;
}

.card .image-wrapper {
  /* background-image: url("./images/image-product-mobile.jpg");   */
  content: url("./images/image-product-mobile.jpg");
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.card .info {
  margin: auto;
  padding: 15px;
  font-size: 14px;
  
}
.card .info #type_product {
  color: var(--text-color);
  font-family: var(--font-1);
  font-weight: 400;
  letter-spacing: 3px;
}

.card .info .title {
  font-family: var(--font-2);
  font-weight: 700;
  /* font-size: 25px; */
  font-size: 30px;
}

.card .info .description {
  font-family: var(--font-1);
  font-weight: 400;

  color: var(--text-color);
}

.card .info #new_price {
  color: var(--secondary-color);
  font-family: var(--font-2);
  font-size: 30px;
  display: inline-block;
  margin: 15px;
  margin-left: 0px;
}

.card .info #old_price {
  text-decoration-line: line-through;
  color: var(--text-color);
}


.card .info button {
  background-color: var(--secondary-color);
  color: white;
  display: block;
  width: 100%;
  /* margin: 5px; */
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

/* @media (max-width: 767px) {
  .card .image-wrapper {
    content: url("./images/image-product-mobile.jpg");
    background-size: cover; 
  }
} */

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    height: 400px;
    width: 570px; 
  }

  .card .info {
    width: 100%;
  }

  .card .info .title {
    font-size: 35px;
  }

  .card .image-wrapper {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    width: 100%;
    content: url("./images/image-product-desktop.jpg");
  }
}